// Core:
$cl-core = #eb5648
$cl-core-hover = #ef776c
$cl-core-active = #bc4439

$cl-core-orange = #ff7100
$cl-core-yellow = #ffb236
$cl-core-yellow-light = #ffe4b9

$cl-success = #2ECC71
$cl-danger = #e84030
$cl-error = #e84030
$cl-warning = #f1c40f
$cl-active = #1e98ea
$cl-mention = #1e98ea

$cl-link = #1e98ea
$cl-link-hover = #4daceb
$cl-link-active = #008deb

$cl-strong-grey = #1e292e
$cl-primary-grey = #415058
$cl-secondary-grey = #5b6b73
$cl-secondary-lighter-grey = #7d8694
$cl-tertiary-grey = #8d9ea6
$cl-quaternary-grey = #c8cdd1

$cl-light-grey = #dedee4
$cl-lighter-grey = #f2f2f3
$cl-lightest-grey = #f6f7f8

$cl-strong-text = $cl-strong-grey
$cl-primary-text = $cl-primary-grey
$cl-header-text = $cl-primary-grey

$cl-secondary-text = $cl-secondary-grey
$cl-secondary-lighter-text = $cl-secondary-lighter-grey
$cl-body-text = $cl-secondary-grey

$cl-tertiary-text = $cl-tertiary-grey
$cl-small-text = $cl-tertiary-grey
$cl-quaternary-text = $cl-quaternary-grey

$cl-divider = $cl-lighter-grey
