// Core:
$cl-core = #EB5648
$cl-core-black = #27364E

$cl-main-text = $cl-core-black
$cl-secondary-text = #525e71
$cl-tertiary-text = #a9afb8

$cl-header-text = $cl-main-text
$cl-small-text = $cl-tertiary-text

$cl-divider = #e5e5e5

// Buttons:
$cl-btn-text = $cl-core
$cl-btn-bg = #fff
$cl-btn-border = 1px solid

$cl-btn-text-hover = #fff
$cl-btn-bg-hover = $cl-core
$cl-btn-border-hover = 1px solid $cl-core

$cl-primary-btn-text = #fff
$cl-primary-btn-bg = $cl-core
$cl-primary-btn-text-hover = #fff
$cl-primary-btn-bg-hover = #ff7c75

// Info:
$cl-error-text = #c41810
$cl-error-bg = #fdedec
$cl-error-border = 1px solid #f8bec4
