@import '../util/index'

body.ibot-cant-scroll
  overflow hidden

.Overlay
  &
    position fixed
    z-index $z-Overlay
    top 0
    left 0
    display flex
    justify-content center
    width 100vw
    height 100vh
    overflow-x hidden
    overflow-y auto
    background-color rgba(#fff, .98)
    transition opacity .3s ease-in
  &:not(.is-open)
    opacity 0
    pointer-events none

  .close-btn
    &
      position fixed
      top 1em
      right @top
      font-size 48px
      color $cl-light-grey
      opacity .8
      transition all .2s ease-in
    .fore
      fill $cl-tertiary-grey
      transition all .2s ease-in
    &:hover
      &
        color $cl-core
        opacity 1
        transition-delay .2s
      .fore
        fill #fff

  .content
    display flex
    flex-direction column
    justify-content center
    padding 80px 48px
    width -webkit-fit-content
    width fit-content
    height -webkit-fit-content
    height fit-content
    min-height 100%
    transition all .3s cubic-bezier(.18,.89,.32,1.28)

  &:not(.is-open) .content
    opacity 0
    transform translateY(-10vh)
  &.is-open .content
    opacity 1
    transform none
    transition-delay .4s
