@import '../util/index'

.OverlayPortal
  &:empty
    display none
    pointer-events none
  &
    position absolute
    top 0
    left 0
    z-index $z-Overlay
    display flex
    padding 5rem 3rem
    width 100vw
    min-width $min-vw
    height auto
    min-height 100vh

.OverlayMask
  &
    position fixed
    top 0
    left 0
    right 0
    width 100vw
    height 100vh
    background-color rgba(#fff, .98)
    color $cl-secondary-text
    transition opacity .3s ease-in
  &:not(.is-open)
    opacity 0
    pointer-events none

.OverlayCloseButton
  &
    position fixed
    top 1em
    left 100vw
    transform s('translateX(calc(-100% - %s))', @top)
    font-size 3rem
    color $cl-light-grey
    opacity .8
    transition all .2s ease-out
  .OverlayMask:not(.is-open) ~ &
    opacity 0
  .OverlayMask.is-open ~ &
    opacity 1

  .fore
    fill $cl-tertiary-grey
    transition all .2s ease-out
    transition-duration .3s

  &:hover
    &:not([disabled])
      color $cl-core
      opacity 1
    .fore
      fill #fff
      transition-duration .1s

.Overlay
  &
    position relative
    margin auto
    padding 0 3rem
    transition all .3s cubic-bezier(.18,.89,.32,1.28)
  .OverlayMask:not(.is-open) ~ &
    opacity 0
    transform translateY(-10vh)
  .OverlayMask.is-open ~ &
    opacity 1
    transform none
    transition-delay .4s

  h1
    margin .5em 0 1.5em
    font-size 1.5rem
    font-weight 500
    color $cl-primary-text
  footer
    &
      margin-top 4em
    button:not(:last-child)
      margin-right 1em
