@font-face
  font-family mb-icons
  font-weight normal
  font-style normal
  src url('../fonts/mb-icons.woff') format('woff'),
    url('../fonts/mb-icons.ttf') format('truetype'),
    url('../fonts/mb-icons.svg') format('svg')

[class^="icon-"]
[class*=" icon-"]
  display inline-block
  font normal normal normal 1em/1 mb-icons
  speak none
  font-size inherit
  letter-spacing normal
  text-transform none
  text-rendering auto
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

@import './mockingbot/icons'
