icon-align-h-center = "\e900"
icon-align-h-left = "\e901"
icon-align-h-right = "\e902"
icon-align-v-bottom = "\e903"
icon-align-v-center = "\e904"
icon-align-v-top = "\e905"
icon-all-img-o = "\e906"
icon-android-o = "\e907"
icon-android = "\e908"
icon-angle-circle-bottom = "\e909"
icon-angle-circle-left = "\e90a"
icon-angle-circle-right = "\e90b"
icon-angle-circle-top = "\e90c"
icon-angle-left = "\e90d"
icon-angle-right = "\e90e"
icon-apple-o = "\e90f"
icon-apple = "\e910"
icon-arrow-bottom = "\e911"
icon-arrow-left = "\e912"
icon-arrow-right = "\e913"
icon-arrow-top = "\e914"
icon-book = "\e915"
icon-border = "\e916"
icon-cloud = "\e917"
icon-cog = "\e918"
icon-comment = "\e919"
icon-copy = "\e91a"
icon-cube = "\e91b"
icon-cubes = "\e91c"
icon-cut = "\e91d"
icon-delete-path = "\e91e"
icon-design = "\e91f"
icon-discuss = "\e920"
icon-distribute-h = "\e921"
icon-distribute-v = "\e922"
icon-distribute = "\e923"
icon-download = "\e924"
icon-dribble = "\e925"
icon-duplicate = "\e926"
icon-ellipsis-o = "\e927"
icon-ellipsis-v-filled = "\e928"
icon-ellipsis-v = "\e929"
icon-exchange = "\e92a"
icon-export = "\e92b"
icon-eye = "\e92c"
icon-facebook = "\e92d"
icon-font = "\e92e"
icon-gesture-down = "\e92f"
icon-gesture-dtap = "\e930"
icon-gesture-hold = "\e931"
icon-gesture-left = "\e932"
icon-gesture-right = "\e933"
icon-gesture-shake = "\e934"
icon-gesture-tap = "\e935"
icon-gesture-timer = "\e936"
icon-gesture-up = "\e937"
icon-gift = "\e938"
icon-global = "\e939"
icon-grid = "\e93a"
icon-group = "\e93b"
icon-html-o = "\e93c"
icon-img = "\e93d"
icon-keyboard = "\e93e"
icon-layer = "\e93f"
icon-layout = "\e940"
icon-like = "\e941"
icon-link = "\e942"
icon-lock-o = "\e943"
icon-lock = "\e944"
icon-logout = "\e945"
icon-magnet = "\e946"
icon-mail = "\e947"
icon-medium = "\e948"
icon-menu = "\e949"
icon-minus-o = "\e94a"
icon-minus-sm = "\e94b"
icon-minus = "\e94c"
icon-mobile-back-to-list = "\e94d"
icon-mobile-back = "\e94e"
icon-mobile-browse-img = "\e94f"
icon-mobile-close = "\e950"
icon-mobile-copy-link = "\e951"
icon-mobile-hide-comment = "\e952"
icon-mobile-highlight-link = "\e953"
icon-mobile-offline-mode = "\e954"
icon-mobile-offline-update = "\e955"
icon-mobile-page-list = "\e956"
icon-mobile-page = "\e957"
icon-mobile-refresh = "\e958"
icon-mobile-share = "\e959"
icon-mockingbot = "\e95a"
icon-paste = "\e95b"
icon-path = "\e95c"
icon-pencil = "\e95d"
icon-pipet = "\e95e"
icon-play = "\e95f"
icon-plus-o = "\e960"
icon-plus-sm = "\e961"
icon-plus = "\e962"
icon-proto = "\e963"
icon-qq = "\e964"
icon-question-filled = "\e965"
icon-question = "\e966"
icon-recycle = "\e967"
icon-redo = "\e968"
icon-rotate-acw = "\e969"
icon-rotate-cw = "\e96a"
icon-rotate = "\e96b"
icon-ruler = "\e96c"
icon-save = "\e96d"
icon-search = "\e96e"
icon-shadow = "\e96f"
icon-share = "\e970"
icon-single-comment = "\e971"
icon-single-img-o = "\e972"
icon-sketch-o = "\e973"
icon-sketch = "\e974"
icon-smiley = "\e975"
icon-sort-asc = "\e976"
icon-sort-desc = "\e977"
icon-state = "\e978"
icon-t-align-center = "\e979"
icon-t-align-left = "\e97a"
icon-t-align-right = "\e97b"
icon-t-align-v-bottom = "\e97c"
icon-t-align-v-middle = "\e97d"
icon-t-align-v-top = "\e97e"
icon-t-bold = "\e97f"
icon-t-italic = "\e980"
icon-t-ol = "\e981"
icon-t-strikethrough = "\e982"
icon-t-table = "\e983"
icon-t-ul = "\e984"
icon-t-underline = "\e985"
icon-template = "\e986"
icon-times-circle-filled = "\e987"
icon-times-circle = "\e988"
icon-times-sm = "\e989"
icon-times = "\e98a"
icon-trash-can = "\e98b"
icon-tri-arrow-down = "\e98c"
icon-tri-arrow-left = "\e98d"
icon-tri-arrow-right = "\e98e"
icon-tri-arrow-up = "\e98f"
icon-twitter = "\e990"
icon-ubuntu-o = "\e991"
icon-ubuntu = "\e992"
icon-undo = "\e993"
icon-ungroup = "\e994"
icon-unlock-o = "\e995"
icon-update = "\e996"
icon-user = "\e997"
icon-users = "\e998"
icon-wechat-moment = "\e999"
icon-wechat = "\e99a"
icon-weibo = "\e99b"
icon-widget-bar = "\e99c"
icon-widget-batch-import = "\e99d"
icon-widget-battery = "\e99e"
icon-widget-btn = "\e99f"
icon-widget-checkbox = "\e9a0"
icon-widget-circle = "\e9a1"
icon-widget-file = "\e9a2"
icon-widget-flow-link = "\e9a3"
icon-widget-flow-page = "\e9a4"
icon-widget-footer = "\e9a5"
icon-widget-gesture = "\e9a6"
icon-widget-header = "\e9a7"
icon-widget-horizontal-line = "\e9a8"
icon-widget-icon-label = "\e9a9"
icon-widget-img = "\e9aa"
icon-widget-input = "\e9ab"
icon-widget-keyboard = "\e9ac"
icon-widget-link = "\e9ad"
icon-widget-map = "\e9ae"
icon-widget-new-page = "\e9af"
icon-widget-paragraph = "\e9b0"
icon-widget-radio = "\e9b1"
icon-widget-rectangle = "\e9b2"
icon-widget-search-input = "\e9b3"
icon-widget-select = "\e9b4"
icon-widget-sticker = "\e9b5"
icon-widget-text = "\e9b6"
icon-widget-textarea = "\e9b7"
icon-widget-toggle = "\e9b8"
icon-widget-tooltip = "\e9b9"
icon-widget-triangle-left-bottom = "\e9ba"
icon-widget-triangle-top = "\e9bb"
icon-widget-vertical-line = "\e9bc"
icon-widget-webpage = "\e9bd"
icon-windows-o = "\e9be"
icon-windows = "\e9bf"
icon-z-back = "\e9c0"
icon-z-backward = "\e9c1"
icon-z-forward = "\e9c2"
icon-z-front = "\e9c3"
icon-zoom-in = "\e9c4"
icon-zoom-out = "\e9c5"

