@import '../util/index'

body.ibot-cant-scroll
  overflow hidden

.CoreModalMask
  &
    position fixed
    top 0
    left 0
    z-index $z-Modal
    display flex 
    justify-content center
    padding 50px
    width 100vw
    height 100vh
    overflow-x hidden 
    overflow-y auto
    font-size 14px
    background-color rgba($cl-strong-grey, .5)
    transition all .2s ease-in
  &.can-close
    cursor pointer
  &:not(.is-open)
    opacity 0
    pointer-events none
    transition-delay .2s
  &.is-open
    opacity 1

.CoreModal
  &
    margin-top calc(20vh - 50px)
    height -webkit-fit-content
    height fit-content
    min-height 12em
    background-color #fff
    border-radius 4px
    box-shadow 0 3px 10px 0 rgba(#000,.1)
    cursor initial
    transition all .3s cubic-bezier(.18,.89,.32,1.1)
  .CoreModalMask:not(.is-open) &
    opacity 0
    transform translateY(-100%)
  .CoreModalMask.is-open &
    opacity 1
    transform none
    transition-delay .2s
  &.is-v-centered
    margin auto

  > header
    display flex
    align-items center
    padding 0 1.5em
    height 60px
    border-bottom 1px solid $cl-light-grey
  > .content
    padding 1.5em

  .close-btn
    &
      margin-left auto
      font-size 1em
      color $cl-tertiary-grey
      transition all .2s ease-in
    &:hover
      color $cl-core
      transition-delay .2s


.AlertCoreModal
.FormCoreModal
  &
    display flex
    flex-direction column
    width 380px
    line-height 1.5
  .FormEntry
    &:last-child
      margin-bottom -.5em
    > .key
      flex-basis 7em
    > .val
      max-width calc(100% - 7em)
.FormCoreModal
  width 420px
.FunctionalCoreModal
  width 590px
.DisplayCoreModal
  width 640px
