@import '../util/index'

.CoreModalPortal
  &:empty
    display none
    pointer-events none
  &
    position absolute
    top 0
    left 0
    z-index $z-Modal
    padding 3rem 1.5rem
    width 100vw
    min-width $min-vw
    height auto
    min-height 100vh

.CoreModalMask
  &
    position fixed
    top 0
    left 0
    right 0
    width 100vw
    height 100vh
    background-color rgba($cl-strong-grey, .5)
    transition all .2s ease-in
  &.can-close
    cursor pointer
  &:not(.is-open)
    opacity 0
    pointer-events none
    transition-delay .2s
  &.is-open
    opacity 1

.CoreModal
  &
    position relative
    margin 20vh auto 3rem
    height -moz-fit-content
    height -webkit-fit-content
    height fit-content
    min-height 12em
    font-size .875rem
    background-color #fff
    border-radius 4px
    box-shadow 0 3px 10px 0 rgba(#000,.1)
    cursor initial
    transition all .3s cubic-bezier(.18,.89,.32,1.1)
  .CoreModalMask:not(.is-open) + &
    opacity 0
    transform translateY(-100%)
  .CoreModalMask.is-open + &
    opacity 1
    transform none
    transition-delay .2s
  &.is-v-centered
    margin 3rem auto

  > header
    display flex
    align-items center
    padding 0 1.5em
    height 3.75rem
    font-size 1rem
    font-weight 500
    border-bottom 1px solid $cl-light-grey
    color $cl-primary-text
  > .content
    padding 1.5em

  .close-btn
    &
      margin-left auto
      font-size 1em
      color $cl-tertiary-grey
      transition all .2s ease-in
    &:hover
      color $cl-core
      transition-delay .2s


.AlertCoreModal
.FormCoreModal
  &
    display flex
    flex-direction column
    width 23.75rem
    line-height 1.5
  .FormEntry
    &:last-child
      margin-bottom -.5em
    > .key
      flex-basis 7em
.FormCoreModal
  width 26.25rem
.FunctionalCoreModal
  width 38.875rem
.DisplayCoreModal
  width 40rem
