{
  "presets": [
    [ "@babel/env", { "forceAllTransforms": true, "modules": false } ],
    [ "@babel/react" ]
  ],
  "plugins": [
    [ "babel-plugin-styled-components" ],
    [ "@babel/proposal-class-properties" ],
    [ "@babel/proposal-export-namespace-from" ]
  ]
}
