{
  "plugins": [
    "react"
  ],
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "semi": [ "error", "never" ],
    "comma-dangle": [ "error", "always-multiline" ]
  }
}
