.DS_Store

/coverage
node_modules
*.log*
*.tgz

# Ignore webstorm config file
.idea

# handy for ignore folder of file ends with `-gitignore`
**/*-gitignore/**
**/*-gitignore*

dest/
# lib/ # for tracking legacy change

storybook-static/*
!storybook-static/CNAME

stories/json/
components/icon/fonts/dora.*
components/icon/fonts/mb-icons.*

package-lock.json
