@import '../util/index'

.Guide
  $arrow-size = 28px
  $close-size = 14px

  &
    position fixed
    margin .75em 0
    min-width 10em
    font-size 12px
    filter drop-shadow(0 2px 10px rgba(39,54,78,.12)) drop-shadow(4px 12px 40px rgba(39,54,78,.12))
    pointer-events none
    opacity 0
    transition .2s ease-in-out
    transition-property transform, opacity
    transform-origin 50% 0
    transform scale(.9) translateX(-50%)
  &.arrowed
    margin .75em 0
  &.is-open
    pointer-events initial
    opacity 1
    transform scale(1) translateX(-50%)

  $offset = ($arrow-size * 1.5)
  &.unfold-left
    &
      transform s('scale(.9) translateX(calc(-100% + %s))', $offset)
    &.is-open
      transform s('scale(1) translateX(calc(-100% + %s))', $offset)
  &.unfold-right
    &
      transform s('scale(.9) translateX(-%s)', $offset)
    &.is-open
      transform s('scale(1) translateX(-%s)', $offset)

  .arrow
    position absolute
    top calc(-.28em + 1px)
    left calc(50% - .5em)
    font-size $arrow-size
    line-height 0
    color #fff
  &.unfold-left .arrow
    left initial
    right 1em
  &.unfold-right .arrow
    left 1em
  svg
    width 1em
    height .28em
    fill currentColor
    fill-rule evenodd
  &.is-upward .arrow
    top initial
    bottom calc(-.28em + 1px)
  &.is-downward .arrow
    transform rotate(180deg)

  .content
    position relative
    padding 1.5em 1.5em 1em
    min-height 32px
    font-size 14px
    line-height 2
    background-color #fff
    border-radius 4px
    color $cl-tertiary-grey

  header
    margin .25em 0 10px
    font-size 16px
    font-weight bold
    line-height 1.2
    color $cl-primary-grey

  .close-btn
    &
      position absolute
      top .5em
      right @top
      font-size $close-size
      color $cl-quaternary-grey
    svg
      width 1em
      height @width

  footer
    &
      margin-top .75em
      text-align end
    button:not([disabled]):hover
      text-decoration none
      opacity .8
