@import '../util/index'

$Button-font-size = .875rem
$Button-height = 2.125rem

$CoreButton-height = 2.375rem
$CoreButton-small-height = 2em

$Button-small-font-size = .75rem
$Button-small-height = 2em

$cl-Button-text = $cl-tertiary-grey
$cl-Button-border = $cl-tertiary-grey

$cl-Button-hover-text = $cl-secondary-grey
$cl-Button-hover-border = $cl-secondary-grey

$cl-PrimaryButton-text = #fff
$cl-PrimaryButton-bg = $cl-tertiary-grey

$cl-PrimaryButton-active-text = rgba(#fff, .6)
$cl-PrimaryButton-hover-bg = $cl-secondary-grey

$cl-TextButton-text = $cl-active
$cl-TextButton-hover-text = darken($cl-active, 10%)

$loading-svg
  vertical-align -.15em
  animation ibot-ani-spinning 1.5s infinite ease-out

$Button
  &
    padding 0 .5em
    height $Button-height
    font-size $Button-font-size
    border 1px solid
    border-radius 2px
    cursor pointer
    transition all .2s ease-out
  &:not(button)
    display inline-flex
    justify-content center
    align-items center
  &:disabled
    cursor not-allowed
    opacity .6
  .icon
    margin-right .125em
  &.small
    height $Button-small-height
    font-size $Button-small-font-size
  .svg-icon.loading
    margin-right .5em
    @extends $loading-svg

$CoreButton
  &
    @extends $Button
    padding 0 1em
    height $CoreButton-height
  &.small
    height $CoreButton-small-height
  &:disabled
    background-color $cl-lightest-grey
    border-color $cl-light-grey
    color $cl-quaternary-grey
    opacity 1

.PrimaryCoreButton
  &
    @extends $CoreButton
    background-color $cl-core
  &
  &:link
  &:visited
    border-color transparent
    color #fff
  &:enabled:hover
  a&:hover
    background-color $cl-core-hover
    color #fff
  &:enabled:active
  a&:active
    background-color $cl-core-active
    color #e4b4b0

.RegularCoreButton
.SecondaryCoreButton
  &
    @extends $CoreButton
    background-color #fff
  &
  &:link
  &:visited
    color $cl-core
  &:enabled:hover
  a&:hover
    border-color #ffa39e
    color $cl-core-hover
  &:enabled:active
  a&:active
    border-color #e84030
    color $cl-core-active

.TertiaryCoreButton
  &
    @extends $CoreButton
    background-color #fff
    border-color $cl-quaternary-grey
  &
  &:link
  &:visited
    color $cl-primary-grey
  &:enabled:hover
  a&:hover
    background-color $cl-tertiary-grey
    border-color $cl-secondary-lighter-grey
    color #fff
  &:enabled:active
  a&:active
    background-color $cl-secondary-grey
    border-color $cl-primary-grey

.RegularButton
  &
    @extends $Button
  &
  &:link
  &:visited
    color $cl-Button-text
  &:enabled:hover
  a&:hover
    color $cl-Button-hover-text
  &:disabled
    opacity .6

.PrimaryButton
  &
    @extends $Button
    background-color $cl-PrimaryButton-bg
    border-color transparent
  &
  &:link
  &:visited
    color $cl-PrimaryButton-text
  &:enabled:hover
  a&:hover
    background-color $cl-PrimaryButton-hover-bg
    color $cl-PrimaryButton-text
  &:enabled:active
  a&:active
    color $cl-PrimaryButton-active-text

.TextButton
.TextCoreButton
  &
    transition all .1s ease-out
  &
  &:link
  &:visited
    color $cl-TextButton-text
  &:disabled
    @extends $Button:disabled
    opacity .6
  &:enabled:hover
  a&:hover
    color $cl-TextButton-hover-text
    text-decoration underline
  .svg-icon.loading
    margin-right .25em
    @extends $loading-svg
  .icon
    @extends $Button .icon
  &.small
    height $Button-small-height
    font-size $Button-small-font-size

.TextCoreButton
  &
  &:link
  &:visited
    color $cl-core
  &:enabled:hover
  a&:hover
    color $cl-core-hover
    text-decoration none
  &:enabled:active
  a&:active
    color $cl-core-active
