@import '../util/index'

$Button-font-size = 14px
$Button-height = 34px

$CoreButton-height = 38px
$CoreButton-small-height = 28px

$Button-small-font-size = 12px
$Button-small-height = 2em

$cl-Button-text = $cl-tertiary-grey
$cl-Button-border = $cl-tertiary-grey

$cl-Button-hover-text = $cl-secondary-grey
$cl-Button-hover-border = $cl-secondary-grey

$cl-PrimaryButton-text = #fff
$cl-PrimaryButton-bg = $cl-tertiary-grey

$cl-PrimaryButton-active-text = rgba(#fff, .6)
$cl-PrimaryButton-hover-bg = $cl-secondary-grey

$cl-TextButton-text = $cl-active
$cl-TextButton-hover-text = darken($cl-active, 10%)

$Button
  &
    padding 0 .5em
    height $Button-height
    font-size $Button-font-size
    border 1px solid
    border-radius 2px
    cursor pointer
    transition all .2s ease-out
  &:not(button)
    display inline-flex
    justify-content center
    align-items center
  &[disabled]
    cursor not-allowed
  .icon
    margin-right .125em
  &.small
    height $Button-small-height
    font-size $Button-small-font-size

$CoreButton
  &
    @extends $Button
    padding 0 1em
    height $CoreButton-height
    border-radius 4px
  &.small
    height $CoreButton-small-height
  &[disabled]
    background-color $cl-lightest-grey
    border-color $cl-light-grey
    color $cl-quaternary-grey

.PrimaryCoreButton
  &
    @extends $CoreButton
    background-color $cl-core
    color #fff
  &:not([disabled])
    border 0
  &:hover:not([disabled])
    background-color $cl-core-hover
  &:active:not([disabled])
    background-color $cl-core-active
    color #e4b4b0

.RegularCoreButton
.SecondaryCoreButton
  &
    @extends $CoreButton
    background-color #fff
    color $cl-core
  &:hover:not([disabled])
    border-color #ffa39e
    color $cl-core-hover
  &:active:not([disabled])
    border-color #e84030
    color $cl-core-active

.TertiaryCoreButton
  &
    @extends $CoreButton
    background-color #fff
    border-color $cl-quaternary-grey
    color $cl-primary-grey
  &:hover:not([disabled])
    background-color $cl-tertiary-grey
    border-color $cl-secondary-lighter-grey
    color #fff
  &:active:not([disabled])
    background-color $cl-secondary-grey
    border-color $cl-primary-grey

.RegularButton
  &
    @extends $Button
    color $cl-Button-text
  &:hover:not([disabled])
    color $cl-Button-hover-text
  &[disabled]
    opacity .6

.PrimaryButton
  &
    @extends $Button
    background-color $cl-PrimaryButton-bg
    border-color transparent
    color $cl-PrimaryButton-text
  &:hover:not([disabled])
    background-color $cl-PrimaryButton-hover-bg
    color $cl-PrimaryButton-text
  &:active:not([disabled])
    color $cl-PrimaryButton-active-text

.TextButton
.TextCoreButton
  &
    color $cl-TextButton-text
    transition all .1s ease-out
  &[disabled]
    @extends $Button[disabled]
    opacity .6
  &:not([disabled]):hover
    color $cl-TextButton-hover-text
    text-decoration underline
  .icon
    @extends $Button .icon

  &.small
    height $Button-small-height
    font-size $Button-small-font-size

.TextCoreButton
  &
    color $cl-core
  &:not([disabled]):hover
    color $cl-core-hover
    text-decoration none
  &:not([disabled]):active
    color $cl-core-active
