.Check
.CoreCheck
  &
    &
      position relative
      display inline-flex
      align-items baseline
      line-height $Checker-line-height
      cursor pointer
      color $cl-Check-text
    &.regular
      font-size 14px
    &.small
      font-size 12px
    &.is-disabled
      &
        cursor not-allowed
      &:after
        content ''
        position absolute
        left 0
        top 0
        width 100%
        height 100%
        background-color rgba(#fff, .5)

    // Visually hide the actual input:
    > input[type=radio]
    > input[type=checkbox]
      position absolute
      opacity 0

  // Input state:
  .Check-state
    position relative
    flex 0 0 1em
    margin-right .33333em
    width 1em
    height @width
    transform translateY(1px)
    font-size $Checker-size
    background-color $cl-Check-bg
    border 1px solid $cl-Check-border
    border-radius 2px
    color $cl-Check-active-check
    transition all .2s ease-in-out
  &.small .Check-state
    transform translateY(2px)
  &.is-checked .Check-state
    &
      background-color $cl-Check-active-check-bg
      border-color transparent
      color $cl-Check-active-check
    .icon
      transform scale(.833)

  & .Check-state .icon
    position absolute
    top -1px
    left -1px
    transition all .2s ease-in-out
  &:not(.is-checked) .Check-state .icon
    speak none
    opacity 0

.CoreCheck
  .Check-state
    background-color $cl-CoreCheck-bg
    border-color $cl-CoreCheck-border
  &.is-checked .Check-state
    background-color $cl-CoreCheck-active-check-bg

.CheckGroup
.CoreCheckGroup
  &
    position relative
    display flex
    flex-wrap wrap
  &.is-disabled
    @extends .Check.is-disabled
  .Check
  .CoreCheck
  .Radio
  .CoreRadio
    margin-right .5em
    min-height 2em
