@import '../util/index'

$FormEntry-key-width = 7em
$FormEntry-min-height = 34px
$FormEntry-line-height = 1.5

$Checker-size = 12px
$Checker-line-height = $FormEntry-line-height

$Input-regular-height = $FormEntry-min-height
$Input-small-height = 22px

$InputNumber-action-width = 1.5em
$InputNumber-regular-action-width = 2em

$Select-height = $FormEntry-min-height
$Select-small-height = 22px
$Select-option-height = 30px
$CoreSelect-option-height = 32px

// Palette:
$cl-Input-text = $cl-primary-grey
$cl-Input-placeholder-text = $cl-tertiary-text
$cl-Input-bg = $cl-lightest-grey
$cl-Input-border = $cl-lighter-grey

$cl-CoreInput-bg = #fff
$cl-CoreInput-border = $cl-quaternary-grey

$cl-Input-hover-border = $cl-active
$cl-Input-hover-bg = #fff
$cl-Input-active-shadow = 0 0 6px 0 rgba($cl-active, .5)

$cl-Input-invalid-border = $cl-error
$cl-Input-invalid-shadow = 0 0 6px 0 rgba($cl-error, .5)

$cl-Check-border = $cl-tertiary-grey
$cl-Check-bg = $cl-lightest-grey
$cl-Check-active-check = #fff
$cl-Check-active-check-bg = $cl-active

$cl-CoreCheck-border = #bacdd6
$cl-CoreCheck-bg = #fff
$cl-CoreCheck-active-check = #fff
$cl-CoreCheck-active-check-bg = $cl-core

$cl-InputNumber-action = $cl-tertiary-grey
$cl-InputNumber-action-hover = $cl-secondary-grey
$cl-InputNumber-action-active = $cl-active
$cl-InputNumber-desc = $cl-tertiary-grey

$cl-Check-text = $cl-secondary-grey
$cl-Select-text = $cl-secondary-grey

@import './FormEntry'

@import './Input'
@import './InputEmail'
@import './InputNumber'
@import './ConfirmInputNumber'

@import './Check'
@import './Radio'

@import './Select'
