.InputEmailx
  &:not(.unstyled).is-active input
  &:not(.unstyled).is-active input:invalid
    background-color $cl-Input-hover-bg !important
    border-color $cl-Input-hover-border !important
    box-shadow $cl-Input-active-shadow !important
.InputEmail
  &:not(.unstyled).isnt-valid input
    border-color $cl-Input-invalid-border !important
    box-shadow $cl-Input-invalid-shadow !important
