$Input
  &
    display inline-block
    color $cl-Input-text
  input
  textarea
    &
      font-size inherit
      color inherit
    &::selection
      //background-color rgba($cl-warning, .3)
    &::-moz-selection
      //background-color rgba($cl-warning, .3)
    &[disabled]
      opacity .5
      cursor not-allowed
    &:focus
      outline 0
    &:not([type=email]):invalid
      border-color $cl-Input-invalid-border !important
      box-shadow $cl-Input-invalid-shadow !important
    &::placeholder
      color $cl-Input-placeholder-text
  &:not(.unstyled)
    input
    textarea
      &
        background-color $cl-Input-bg
        border 1px solid $cl-Input-border
        border-radius 2px
        caret-color $cl-active
        transition .2s ease-out
        transition-property background, border, box-shadow, opacity
      &:not([disabled]):not([readonly])
        &:hover
          border-color $cl-Input-hover-border
        &:focus
          background-color $cl-Input-hover-bg
          border-color $cl-Input-hover-border
          box-shadow $cl-Input-active-shadow

.Input
.CoreInput
  &
    @extends $Input
  &.regular
    height $Input-regular-height
    font-size 14px
  &.small
    height $Input-small-height
    font-size 12px
  input
    padding 0 .5em
    width 100%
    height 100%

.Textarea
.CoreTextarea
  &
    @extends $Input
  &.regular
    font-size 14px
  &.small
    font-size 12px
  textarea
    &
      padding .5em
      width 100%
      min-height 5em
      max-height 10em
      resize vertical
    &[disabled]
    &[readonly]
      resize none

.CoreInput:not(.unstyled) input
.CoreTextarea:not(.unstyled) textarea
  background-color $cl-CoreInput-bg
  border-color $cl-CoreInput-border
  border-radius 4px
