.Radio
.CoreRadio
  @extends .Check

  .Check-state
    padding 1px
    border-radius 50%
  &.is-checked .Check-state
    &
      position relative
    &:after
      content ''
      position absolute
      left 50%
      top 50%
      transform translate(-50%, -50%)
      display block
      width 4px
      height @width
      background-color #fff
      border-radius 50%

.CoreRadio
  @extends .CoreCheck

.RadioGroup
.CoreRadioGroup
  @extends .CheckGroup
