.mb-cant-scroll
  overflow hidden !important

.Select
  $padding-left = .5em

  &
    display inline-flex
    justify-content space-between
    align-items center
    max-width 100%
    min-width 3em
    height $Select-height
    color $cl-Select-text
    cursor pointer
    transition all .2s ease-out
  button
    flex 1
    width calc(100% - 2em)
    height 100%
    text-align start
    cursor inherit
  .caret
    &
      margin 0 .75em 0 1em
      line-height 0
      color $cl-tertiary-grey
    svg
      display block
      width 6px
      height 4px
      fill currentColor
      fill-rule evenodd
      transform rotate(180deg)
      transition all .3s ease-out
  &:not(.unstyled)
    padding-left $padding-left
    background-color $cl-Input-bg
    border 1px solid $cl-Input-border
    border-radius 2px

  &.small
    &
      height $Select-small-height
      font-size 12px
    .caret
      margin-right .5em

  &:not(.is-disabled):not(.unstyled):hover
  &:not(.unstyled).is-open
    border-color $cl-active

  &.is-open
    &:not(.unstyled)
      background-color #fff
      box-shadow $cl-Input-active-shadow
    .caret svg
      transform rotate(0deg)

  &.is-disabled
    cursor not-allowed
    opacity .6

.SelectMenuBase
  position fixed
  pointer-events none
  z-index $z-SelectMenu

ul.SelectMenu
  &
    position absolute
    margin 2px 0
    padding 0
    display block
    max-width 20em
    min-width 100%
    min-height $Select-option-height
    max-height (10 * $Select-option-height)
    overflow-x hidden
    overflow-y auto
    pointer-events none
    font-size 12px
    list-style none
    background-color #fff
    border-radius 3px
    box-shadow 0 2px 10px 0 rgba(39,54,78,0.08), 4px 12px 40px 0 rgba(39,54,78,0.10)
    color $cl-Select-text
    transition .2s ease-out
    transition-property transform, opacity
    transform-origin 50% 0

  &::-webkit-scrollbar
    display block
    width 4px
    height @width
  &::-webkit-scrollbar-thumb
    background-color #ccc
    border-radius 2px
  &::-webkit-scrollbar-track
    background-color rgba(#fff, .5)

  &.is-empty
    min-height $Select-option-height
  &:not(.is-open)
    opacity 0
    transform scale(.8)

  &.x-center
    &
      left 50%
      transform translateX(-50%)
    &:not(.is-open)
      transform scale(.8) translateX(-50%)

  &.is-downward
    top 100%
    bottom initial
  &.is-upward
    transform-origin 50% 100%
    top initial
    bottom 100%
  &.is-open
    opacity 1
    pointer-events initial

  li.SelectGroup
    > .title
      padding 0 .75em
      width 100%
      height $Select-option-height
      line-height $Select-option-height
      font-weight bold
    > ul
      margin 0
      padding 0

  li.SelectOption
    &
      display flex
      align-items center
      height $Select-option-height
      line-height $Select-option-height
      cursor pointer
    > .Ellipsis
      padding 0 .75em
    &.is-disabled
      cursor not-allowed
      opacity .5
    &.is-active
      color $cl-active
    &:not(.empty-msg):not(.is-disabled):hover
    &.is-active
      background-color $cl-lightest-grey
    &.empty-msg
      padding 0 .5em
      color $cl-tertiary-grey
      cursor not-allowed
