@import '../util/form'

.FormEntry
  &
    display flex
    align-items center
    margin .5em 0
    min-height $FormEntry-min-height

  .FormEntry-Key
    align-self flex-start
    display flex
    align-items center
    flex-basis $FormEntry-key-width
    height $FormEntry-min-height

  .FormEntry-Val
    flex 1

  .required-sign
    margin 0 .25em
    color $cl-core

  .FormEntry-Val >
    .Input
    .CoreInput
      &
        display block
        width 100%
      &.small
        margin-top (($FormEntry-min-height - $Input-small-height)/2)
        margin-bottom @margin-top
    .Textarea
    .CoreTextarea
      display block
      width 100%

    .Check
    .CoreCheck
    .Radio
    .CoreRadio
    .CheckGroup
    .CoreCheckGroup
    .RadioGroup
    .CoreRadioGroup
        margin-top s('calc((%s - %sem)/2)', $FormEntry-min-height, $FormEntry-line-height)
