@import '../util/index'

/* Style reset */
html
  box-sizing border-box
  margin 0
  padding 0
  font-family -apple-system, sans-serif
  font-size 16px
  line-height 1.2
*
*:before
*:after
  box-sizing inherit

body
  &
    margin 0
    padding 0
    overflow-x hidden
    overflow-y auto
    font-size .875rem
  @media (max-width: 64rem)
    overflow-x auto
  &.is-content-fixed .ContentRoot
    position fixed
    width 100vw

a:link
a:visited
  text-decoration none
  color $cl-link
  transition all .15s ease-out
a:hover
  color $cl-link-hover
a:active
  color $cl-link-active

button
  padding 0
  font-family inherit
  font-size inherit
  background none
  border 0
  outline 0
  color inherit
  cursor pointer
input
  line-height normal
  background none
  border 0
  outline 0

.iBotRoot
  &
    padding 1rem
    min-width 64rem
  h2
  h3
  h4
  h5
  h6
    & + p
    & + form
    & + ul
    & + ol
      margin-top -.75em
  h2 + h3
    margin-top -.75em

@keyframes ibot-ani-spinning
  0%
    transform rotate(0deg)
  100%
    transform rotate(359deg)

@keyframes ibot-ani-spinning-reverse
  0%
    transform rotate(359deg)
  100%
    transform rotate(0deg)
