@import '../util/index'

label.Switch
  $w = 42px
  $h = 16px
  $button-size = 22px

  $w-small = 26px
  $h-small = 10px
  $button-size-small = 14px

  &
    position relative
    display inline-block
    margin 0 .125em
    width $w
    height $h
    vertical-align text-bottom
    background-color $cl-quaternary-grey
    border-radius ($h/2)
    cursor pointer
    transition all 0.2s ease-in
    transition-delay .15s
  &.readonly
    cursor default
  > button
    position absolute
    top 50%
    left 0
    transform translateY(-50%)
    display flex
    justify-content center
    align-items center
    width $button-size
    height @width
    font-size 14px
    border 2px solid #d0d7dd
    border-radius 50%
    background-color white
    box-shadow 0 4px 4px 0 rgba(#000,.04)
    cursor inherit
    transition all 0.2s cubic-bezier(.55,.06,.68,.19)

  &.small
    &
      width $w-small
      height $h-small
      vertical-align baseline
    > button
      width $button-size-small
      height @width

  &.is-checked
    &
      background-color $cl-core
    > button
      transform translate($w/2, -50%)
      cursor inherit
    &.small > button
      transform translate($w-small/2, -50%)

  &.is-disabled
    &
      background-color $cl-light-grey
      cursor not-allowed
    &.is-checked
      background-color rgba($cl-core, .35)
    & button
       background-color $cl-lightest-grey
