@import './ellipsis-extends'

.Ellipsis
  &
    @extends $Ellipsis
    display inline-block
    max-width 100%
    vertical-align bottom
  &.isnt-truncated
    display inline
    max-width initial !important

  // Styles for the :before pseudo element is a workaround to prevent
  // Safari from showing browser’s native hover titles:
  // https://stackoverflow.com/questions/20974276/prevent-safari-from-showing-tooltip-when-text-overflow-is-hidden-with-ellipsis
  &.is-truncated:before
    content ''
    display block

  &[data-type=user]
  &[data-type=id]
    max-width-ellipsis(10em)
  &[data-type=email]
    max-width-ellipsis(12em)
  &[data-type=org]
    max-width-ellipsis(15em)
  &[data-type=team]
    max-width-ellipsis(10em)
  &[data-type=app]
    max-width-ellipsis(15em)
  &[data-type=widget]
    max-width-ellipsis(12em)

  &Tip
    hyphens auto

.Punctuation
  &
    display inline-flex
    align-items baseline
  &.isnt-truncated
    display inline
  &.with-period
    &:after
      content '. '
    &:lang(zh):after
      content '\3002' // '。'
  &.with-comma
    &:after
      content ', '
    &:lang(zh):after
      content '\FF0C' // '，'
  &.with-question-mark
    &:after
      content '? '
    &:lang(zh):after
      content '\FF1F' // '？'
  &.with-quote
    &:before
      content '\201C' // '“'
    &:after
      content '\201D' // '”'
    &.with-period:after
      content '\201D. ' // '”. '
    &.with-comma:after
      content '\201D, ' // '”, '
    &.with-question-mark:after
      content '\201D? ' // '”? '
    &:lang(zh):before
      content '\300C' // '「'
    &:lang(zh):after
      content '\300D' // '」'
    &.with-period:lang(zh):after
      content '\300D\3002' // '」。'
    &.with-comma:lang(zh):after
      content '\300D\FF0C' // '」，'
    &.with-question-mark:lang(zh):after
      content '\300D\FF1F' // '」？'
