div.Tooltip
  width -moz-fit-content
  width -webkit-fit-content
  width fit-content

.TipBase
  position fixed
  z-index $z-Tip
  pointer-events none

.Tip
  $cl-bg = $cl-primary-grey
  $cl-text = #fff

  &
    position absolute
    padding .33em .5em
    font-size 12px
    line-height 1.4
    pointer-events none
    speak none
    transition-property opacity, transform
    transition-duration .15s
    user-select none
    filter opacity(.8)
  &.arrowed
    padding .33em .75em
  > .arrow
    &
      position absolute
      z-index 10
      display block
      font-size 14px
      line-height 0
    svg
      width 1em
      height .375em
      fill $cl-bg

  // Transition:
  &:not(.is-open)
    opacity 0 !important
  &.is-open
    opacity 1

  &.on-top
    &
      left 50%
      bottom 100%
      transform translate(-50%, -10%)
    &.arrowed
      margin-bottom .25em
    &.is-open
      transform translate(-50%)

  &.on-bottom
    &
      left 50%
      top 100%
      transform translate(-50%, 10%)
    &.arrowed
      margin-top .25em
    &.is-open
      transform translate(-50%)

  &.on-left
    &
      right 100%
      top 50%
      transform translate(-10%, -50%)
    &.is-open
      transform translate(0, -50%)

  &.on-right
    &
      left 100%
      top 50%
      transform translate(10%, -50%)
    &.is-open
      transform translate(0, -50%)

  &.on-top > .arrow
    &
      left 50%
      bottom 0
      transform translateX(-50%)
    svg
      transform rotate(180deg)
  &.on-bottom > .arrow
    &
      top 0
      left 50%
      transform translateX(-50%)

  &.on-right > .arrow
    &
      top 50%
      left 0
      font-size 16px
      transform translateY(-50%)
    svg
      transform rotate(-90deg)
  &.on-left > .arrow
    &
      top 50%
      right 0
      font-size 16px
      transform translateY(-50%)
    svg
      transform rotate(90deg)

  > .content
    position relative
    z-index 20
    padding .5em
    width -moz-max-content
    width max-content
    min-width 3em
    max-width 20em
    min-height 2em
    background-color $cl-bg
    -webkit-backdrop-filter blur(2px)
    backdrop-filter blur(2px)
    border-radius 2px
    color $cl-text

.CoreTip
  $cl-bg = $cl-strong-grey

  &
    filter opacity(.9)

  > .arrow svg
    fill $cl-bg
  > .content
    padding .5em .75em
    background-color $cl-bg
    border-radius 4px
    box-shadow 0 2px 8px 0 rgba(#000,.15)
