div.Tooltip
  width -moz-fit-content
  width -webkit-fit-content
  width fit-content

.Tip
  $cl-bg = rgba($cl-primary-grey, .8)
  $cl-text = #fff

  &
    position fixed
    z-index $z-Tip
    padding .33em .5em
    font-size 12px
    line-height 1.4
    pointer-events none
    speak none
    transition-property opacity, transform
    transition-duration .15s
    user-select none
  &.arrowed
    padding .33em .75em
  > .arrow
    &
      position absolute
      z-index 10
      display block
      font-size 14px
      line-height 0
    svg
      width 1em
      height .375em
      fill #616b71 // 20% lighter of $cl-bg

  &.on-top > .arrow
    &
      left 50%
      bottom 0
      transform translateX(-50%)
    svg
      transform rotate(180deg)
  &.on-bottom > .arrow
    &
      top 0
      left 50%
      transform translateX(-50%)

  &.on-right > .arrow
    &
      top 50%
      left 0
      font-size 16px
      transform translateY(-50%)
    svg
      transform rotate(-90deg)
  &.on-left > .arrow
    &
      top 50%
      right 0
      font-size 16px
      transform translateY(-50%)
    svg
      transform rotate(90deg)

  // Transition:
  &:not(.is-open)
    &
      opacity 0 !important
    &.on-top
      transform translate(-50%, -110%)
    &.on-bottom
      transform translate(-50%, 10%)
    &.on-right
      transform translate(10%, -50%)
    &.on-left
      transform translate(-110%, -50%)

  &.is-open
    &
      opacity 1
    &.on-top
      transform translate(-50%, -100%)
    &.on-bottom
      transform translate(-50%, 0)
    &.on-right
      transform translate(0, -50%)
    &.on-left
      transform translate(-100%, -50%)

  > .content
    position relative
    padding .5em
    width -moz-max-content
    width max-content
    min-width 3em
    max-width 20em
    min-height 2em
    background-color $cl-bg
    -webkit-backdrop-filter blur(2px)
    backdrop-filter blur(2px)
    border-radius 2px
    color $cl-text
