@import '../util/index'

.Dropdown
  &.is-disabled
    &
      opacity .5
    > button
      cursor not-allowed

.DropdownMenuBase
  position fixed
  z-index $z-DropdownMenu
  pointer-events none

.DropdownMenu
  $arrow-size = 14px

  &
    position absolute
    margin .25em 0
    width -moz-fit-content
    width -webkit-fit-content
    width fit-content
    min-width 7em
    font-size 12px
    filter drop-shadow(0 2px 10px rgba(39,54,78,.12)) drop-shadow(4px 12px 40px rgba(39,54,78,.12))
    pointer-events none
    opacity 0
    transition .2s ease-in-out
    transition-property transform, opacity
    transform-origin 50% 0
    transform scale(.9)

  &.is-open
    pointer-events initial
    opacity 1
    transform scale(1)

  &.x-left
    left 0
  &.x-right
    left initial
    right 0
  &.x-center
    &
      left 50%
      transform scale(.9) translateX(-50%)
    &.is-open
      transform scale(1) translateX(-50%)

  &.is-downward
    top 100%
    bottom initial
  &.is-upward
    top initial
    bottom 100%

  &.arrowed
    &
      margin-top .75em
      margin-bottom @margin-top
    &.x-left.x-arrow-based
      left 50%
      margin-left -($arrow-size)
    &.x-right.x-arrow-based
      left initial
      right 50%
      margin-right -($arrow-size)

  .arrow
    position absolute
    top calc(-.375em + 1px)
    left calc(50% - .5em)
    font-size $arrow-size
    line-height 0
    color #fff
  &.x-left .arrow
    left .5em
    right initial
  &.x-right .arrow
    left initial
    right .5em
  svg
    width 1em
    height .375em
    fill currentColor
    fill-rule evenodd
  &.is-upward .arrow
    transform rotate(180deg)
    top initial
    bottom calc(-.375em + 1px)

  .content
    padding .75em .5em
    min-height 32px
    background-color #fff
    border-radius 4px

  ul.MenuList
    &
      margin 0
      padding 0
      list-style none
      text-align center
      color $cl-secondary-grey
    li
      &
        line-height 32px
        border-radius 2px
        cursor pointer
      &:not(.is-disabled):hover
        background-color $cl-lightest-grey
      &.is-active
        color $cl-active
      &.is-disabled
        cursor not-allowed
        opacity .5
